/*Selecionando por tag*/

p{
    color: blue;
}

/*Selecionando por ID #nome  */

#pdiferente{
    color: red;
}

/*Selecionando por class .nome */

.pdiferente2{
    color: #656cd4;
}

/*nome da cor em inglês*/
/*Hexadecimais #111111*/
/*RGB - rba(200,200,200)*/
/*HSL*/
/*RGBA*/

body{
    background-image: url('https://t3.gstatic.com/licensed-image?q=tbn:ANd9GcT1g1V8Nalm9FkR2atv7annUXbPvk5g-mWffaNxT_ItIFogl-6mC_lHNifw5Tw9-yiS');
}