*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*tag, .class, #id*/

.container{
    background-color: darkgrey;
    min-height: 100vh;/*100% da altura do navegador*/
    display: flex;/*flexível*/
    flex-direction: row;/*Direção dos itens dentro da caixa - row, row-reverse, column, column-reverse*/
    column-gap: 10px;/*Espaçamento na coluna entre os elementos*/
    row-gap: 50px;/*Espaçamento entre as linhas*/



}

.item{
    width: 200px; /*Largura*/
    height: 200px; /*altura*/
    border: 2px solid black;/*shorthand border: largura estilo e cor*/
    background-color: white;/*cor de fundo*/
    font-size: 20px;/*tamanho da fonte*/
    text-align: center;/*alinhamento do texto*/
    line-height: 200px;/*altura da linha*/
}